*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(197, 210, 219);
}

.nav{
    width: 100%; /*26%*/
}

.nav__link{
    color: #303440;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav__link--secundaria{
    border-radius: 6px;
    padding-left: 20px;
}

.nav__link--secundaria:hover{
    background: #f6f8fa;
}

.lista{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 0 16px 16px 0;
    background: #fff;
}

.lista__elementos{
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.lista__elementos--click{
    cursor: pointer;
}

.list__button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.mostrar__lista{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .3s;
    height: 0;
}